[Unit]
Description=Paest Web Server
Author=Hashbang Team - team@hashbang.sh
After=paest-server.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull hashbang/paest-web
ExecStart=/usr/bin/docker run \
  --name paest-web \
  --link paest-api:paest-api \
  -p 80:80 \
  hashbang/paest-web
ExecStop=/usr/bin/docker stop paest-web

[Install]
WantedBy=mulit-user.target
